* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 37px 0 38px 0;
    align-items: center;
}

.nav {
    display: flex;
    gap: 40px;
}

.menu-a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #BBBBBB;
    text-decoration: none;
}

.red-circle {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    top: -10%;
    right: -30%;
}

.shop {
    position: relative;
}

.App-header {
    border-bottom: 2px solid #5F413C;
}

.left-h {
    width: 643px;
    height: 128px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}

.left-p {
    width: 673px;
    height: 84px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #BBBBBB;
    margin: 30px 0;
}

.buttons {
    display: flex;
    gap: 47px;
}

.button-wrapper {
    display: inline-block;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 30px;
    border-image: linear-gradient(90deg, #5F413C, #B7988F) 1;
}

.button {
    font-family: "Roboto Medium", sans-serif;
    cursor: pointer;
    color: #5F413C;
    border-radius: 30px;
    position: relative;
    border: none;
    background: black;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.btn-wrap.btn-wrap-active {
    background: none;
}

.first-button {
    padding: 20px;
    width: 162px;
    height: 61px;
    background: #5F413C;
    color: white;
}

.left-content {
    margin-top: 101px;
    z-index: 2;
}

.second-button {
    padding: 20px 16px;
    width: 162px;
    height: 61px;
}

.btn-wrap {
    display: inline-block;
    padding: 2px;
    border-radius: 30px;
    background: linear-gradient(90deg, #5F413C, #B7988F);
}

.first-container {
    display: flex;
    margin-top: 120px;
    position: relative;
    margin-bottom: 120px;
}

.heart {
    position: absolute;
    top: -35%;
    right: -15%;
}

.heart img {
    width: 760px;
    height: 750px;
}

.first-section {
    overflow: hidden;
}

.second-sec-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-h {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    max-width: 825px;
}

.second-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #BBBBBB;
    max-width: 825px;
    text-align: center;
    margin-top: 30px;
}

.numbers {
    font-family: 'Roboto Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #5F413C;
    border: 2px solid #5F413C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
}

.adv {
    font-family: 'Roboto medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.adv-titles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 130px;
}

.advantages {
    display: flex;
    gap: 45px;
}

.coffee-cup-img img {
    width: 588px;
    height: 450px;
}

.catalog {
    margin-top: 100px;
}

.catalog-title {
    margin-bottom: 50px;
}

.catalog-title h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.catalog-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.catalog-coffee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}

.card1 {
    grid-area: 1 / 1 / 2 / 2;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
}

.card4 {
    grid-area: 2 / 1 / 3 / 2;
}

.card5 {
    grid-area: 2 / 2 / 3 / 3;
}

.card6 {
    grid-area: 2 / 3 / 3 / 4;
}

.btn-active {
    background: #5F413C;
    color: white;
}

.btn-catalog-all {
    width: 162px;
    height: 61px;
}

.coffee-pic {
    max-width: 364px;
    max-height: 350px;
    margin-top: 5px;
    background: transparent;
}

.coffee-pic img {
    max-width: 364px;
    max-height: 350px;
    border-radius: 20px;
    background: white;
}

.card-span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 20px 0 12px 0;
    background: transparent;
}

.card-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #d7d1d1;;
    display: flex;
    justify-content: center;
    margin: 0 10px 20px 10px;
    background: transparent;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 384px;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #b4b7ad;
    overflow: hidden;
}

.catalog-btn {
    width: 114px;
    height: 57px;
    padding: 0;
}

.bottom-elements {
    display: flex;
    gap: 95px;
    background: transparent;
    margin-bottom: 30px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: transparent;
}

.price span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: transparent;
}

.test {
    display: flex;
    background: #fff;
    color: black;
}

.bottom-title h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
}